<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#colorupdate">
    Renk Güncelle
</button>

<div class="modal fade" id="colorupdate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #ffffff;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Lütfen Alanları Doğru Doldurduğunuzdan Emin Olun</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="colorUpdateForm">
                    <label for="colorId">Renk Sistem Idsi</label>
                    <div class="p-field p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input type="number" formControlName="colorId" id="colorId" pInputText>

                        </span>
                    </div>
                    <label for="colorName">Renk İsmi</label>
                    <div class="p-field p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input type="text" formControlName="colorName" id="colorName" pInputText>



                        </span>

                    </div>

                    <label for="colorType">Renk Türü</label>
                    <div class="p-field p-col-12 p-md-4">
                        <span class="p-float-label">
                            <input type="text" formControlName="colorType" id="colorType" pInputText>



                        </span>

                    </div>




                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Çıkış</button>
                <button type="button" class="btn btn-primary" (click)="update()">Renk Güncelle</button>
            </div>
        </div>
    </div>
</div>