<footer class="text-center text-white fixed-bottom" style="background-color: #0666f7;">

    <div class="container p-4">

        <section class="">
            <form action="">

                <div class="row d-flex justify-content-center">

                    <div class="col-auto">
                        <p class="pt-2">

                        </p>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Mail bültenine katılıp fırsatlardan yararlanabilirsiniz" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <span class="input-group-text" id="basic-addon2"><button type="button" class="btn btn-primary">Kayıt
                        ol</button></span>
                    </div>

                    <div class="col-auto">

                    </div>

                </div>

            </form>
        </section>

    </div>

    <div class="text-center p-3" style="background-color: #0666f7">
        © 2021 Copyright Tüm Hakları Saklıdır:
        <a class="text-white" href="https://www.carrentaldemo.com/">Car Rental </a>
    </div>

</footer>