.centered {
    position: relative;
    top: -30px;
    left: 13px;
}

.centered2 {
    position: relative;
    top: -30px;
    left: 13px;
}

.centered3 {
    position: relative;
    top: 180%;
    left: 60%;
}

.centered4 {
    position: relative;
    left: 10%;
    bottom: 37px;
}